python-levenshtein
torch==1.4.0
wget
# conda install -c -y conda-forge librosa
tqdm
util@git+https://git@github.com/dertilo/util.git#egg=util
pytorch_lightning==0.7.3
mlflow
test-tube
torchaudio==0.4.0